build/
*/build/
.vscode
*.log
*.txt
!CMakeLists.txt
*/*.o
*.o
*.in
*.csv
image/.mkosi-*
image/root.img
image/root.img.manifest
image/rootfs/root/
unready_script
script
.git_backup

third_party/ivshmem-kernel/*.ko
third_party/ivshmem-kernel/*.o
third_party/ivshmem-kernel/*.mod*
third_party/ivshmem-kernel/Module.symvers
third_party/ivshmem-kernel/modules.order
third_party/ivshmem-kernel/.*.cmd
