build/
build-jammy/
*/build/
.vscode
*.log
*.txt
!CMakeLists.txt
*/*.o
*.o
*.in
*.csv
image/.mkosi-*
image/mkosi.extra/
image/mkosi.cache/
image/mkosi.builddir/
image/root.img
image/root.img.manifest
unready_script
script
.git_backup
__pycache__/
*.py[cod]

third_party/ivshmem-kernel/*.ko
third_party/ivshmem-kernel/*.o
third_party/ivshmem-kernel/*.mod*
third_party/ivshmem-kernel/Module.symvers
third_party/ivshmem-kernel/modules.order
third_party/ivshmem-kernel/.*.cmd
